.predict {
    color: #000000;
    height: 100vh;
    background-image: url('../../assets/images/landingpage/pred-back.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding: 2rem;
    align-items: center;
}

form select,
form input{
    color: black;
}

.form {
    border-radius: 10px;
    height: 85%;
    min-width: 80%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}
.form h1 {
    font-size: 2rem;
    text-align: center;
    width: 100%;
    color: #09baab; 
}
.content {
    height: 90%;
    min-width: 70%;
    margin: auto;
    background-color: rgb(159, 158, 158);
    padding: 1rem;
}
.content input {
    width: 100%;
    border: 1px solid #979797;
    padding: 0.5rem;
    border-radius: 5px;
}
.content .div1 input{
    width: 50%;
}

.content .div2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .div2 select {
    min-width: 20%;
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: #ededed;
    border-radius: 5px;
    margin-left: 0.1rem;
}
select {
    border-radius: 1px solid #979797;
}
select option {
    color: black;
}

.div3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 1px; /* Gap between grid items */
}
.div3 select {
    background-color: #ededed;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
}

form button {
    background-color: #1978c5;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    display: block;
    cursor: pointer;
    margin: auto;
    margin-top: 0.5rem;
}

.wastage {
    text-align: center;
    margin-top: 0.5rem;
}

.link {
    color: rgb(245, 237, 91);
    width: 100%;
    display: block;
    text-decoration: none;
    text-align: center;
    opacity: 0.5;
    align-self: flex-end; 
    margin-top: 2rem;
}